#main {
  background-color: #EFEFEF;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
#profile_pic_div {
  text-align: center;
  padding: 20px;
}
#profile_pic {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

#profile_name {
  text-align: center;
}

.wrapperss {
  text-align: center;
}

#ios_game_pic {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

hr {
  height: 1px;
  border-color: #999999;
  border-width: 2px;
  border-radius: 1px;
}